In [1]:
import pandas as pd
import geopandas as gpd
from keplergl import KeplerGl

In [2]:
bh = pd.read_csv('../data/BeverlyHillsCompleteData.csv')

In [3]:
bh.sample(5)

,Unnamed: 0,_id,nombre,latitud,longitud,category,distance,geometry
12,12,{'$oid': '61927efa6b0640e76d094fc6'},Grand Havana Room - Private Club,34.069265,-118.399709,Wine Bar,0.540981,"{'type': 'Point', 'coordinates': [-118.3997087..."
38,38,{'$oid': '61927efa6b0640e76d094fc1'},Hawthorne Elementary School,34.078247,-118.403867,Elementary School,0.960589,"{'type': 'Point', 'coordinates': [-118.4038670..."
33,33,{'$oid': '61927efa6b0640e76d094f8e'},Docler Media,34.065125,-118.412700,Tech Startup,0.833200,"{'type': 'Point', 'coordinates': [-118.4126996..."
69,69,{'$oid': '61927efa6b0640e76d094fcc'},The Low Key Cutty In The Mix Spot II - Electri...,34.054085,-118.412430,Bar,1.850485,"{'type': 'Point', 'coordinates': [-118.4124298..."
88,88,{'$oid': '61927efa6b0640e76d094f9c'},Christian Louboutin,34.082363,-118.385509,Shoe Store,2.320543,"{'type': 'Point', 'coordinates': [-118.3855085..."

In [4]:
gdf = gpd.GeoDataFrame(bh, geometry=gpd.points_from_xy(bh.longitud, bh.latitud))

In [5]:
gdf

,Unnamed: 0,_id,nombre,latitud,longitud,category,distance,geometry
0,0,{'$oid': '61927efa6b0640e76d094f85'},SGN Headquarters,34.069603,-118.405702,Tech Startup,0.018867,POINT (-118.40570 34.06960)
1,1,{'$oid': '61927efa6b0640e76d094f8b'},Proactive SEO Solutions,34.069263,-118.406696,Tech Startup,0.116797,POINT (-118.40670 34.06926)
2,2,{'$oid': '61927efa6b0640e76d094fac'},Palter DeLiso,34.068161,-118.404780,Design Studio,0.187716,POINT (-118.40478 34.06816)
3,3,{'$oid': '61927efa6b0640e76d094fc2'},Buena Vista Cigar Club,34.068354,-118.407765,Lounge,0.253999,POINT (-118.40776 34.06835)
4,4,{'$oid': '61927efa6b0640e76d094fe0'},Starbucks,34.070571,-118.402372,Coffee Shop,0.308089,POINT (-118.40237 34.07057)
...,...,...,...,...,...,...,...,...
94,94,{'$oid': '61927efa6b0640e76d094fae'},Pacific Design Center,34.082137,-118.382646,Design Studio,2.521576,POINT (-118.38265 34.08214)
95,95,{'$oid': '61927efa6b0640e76d094f93'},RocketFrog,34.082899,-118.383062,Tech Startup,2.537513,POINT (-118.38306 34.08290)
96,96,{'$oid': '61927efa6b0640e76d094f88'},StartEngine,34.083936,-118.382448,Tech Startup,2.650966,POINT (-118.38245 34.08394)
97,97,{'$oid': '61927efa6b0640e76d094f95'},Hornet.lax,34.083770,-118.382199,Tech Startup,2.658527,POINT (-118.38220 34.08377)
98,98,{'$oid': '61927efa6b0640e76d094faf'},Pacific Design Center (Red Building),34.084190,-118.381896,Design Studio,2.708613,POINT (-118.38190 34.08419)

In [6]:
map_1= KeplerGl(height=700, weight = 500, data={'BeverlyHills': gdf})

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

In [7]:
map_1

KeplerGl(data={'BeverlyHills':     Unnamed: 0                                   _id  \
0            0  {'$oid'…